<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h1>Welcome to my NashBnB</h1>

<a href="/">Create a new something</a>

<p>
  <%= link_to "Sign Up", new_signup_path %>

  <%= link_to "Log In", sign_in_path %>
</p>
